<% provide(:title, "Home") %>
<div class="posts">
  <h1 class="content-subhead">Rawneed on Instagram</h1>
  <!-- A single blog post -->
  <section class="post">
   <iframe id="iframecode" onload="" scrolling="no" frameborder="0" 
  width="736" src="http://instaembedder.com/gallery.php?username=rawneed&amp;hashtag=&amp;width=150&amp;cols=3&amp;frame=1&amp;image_border=10&amp;rows=4&amp;cell_margin=10&amp;display_username=0&amp;likes=1&amp;comments=1&amp;date=1&amp;link=1&amp;caption=0&amp;color=gray" 
  style="height: 804px;"></iframe>
 </section> 
</div>

<div class="posts">
 <h1 class="content-subhead">Rawneed on Slideshare</h1>

 <section class="post">
  <header class="post-header">
  
   <h2 class="post-title">Big Boys and Big Girls Guide</h2>

   <p class="post-meta">
    <a class="post-category post-category-js" href="#">Inspiration</a>
   </p>
  </header>

  <div class="post-description">
  <iframe src="http://www.slideshare.net/bodefuwa/slideshelf" width="615px" height="470px" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:none;" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
  </div>
 </section>

 <section class="post">
  <header class="post-header">
   
   <h2 class="post-title">Being a pillar at work</h2>

   <p class="post-meta">
    <a class="post-category" href="#">Professional</a>
   </p>
  </header>

  <div class="post-description">
   <iframe src="http://www.slideshare.net/bodefuwa/slideshelf" width="615px" height="470px" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:none;" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
  </div>
 </section>
</div>
