<div class="footer">
 <div class="pure-menu pure-menu-horizontal pure-menu-open">
  <ul>
   <li>Copyright <%= "\xC2\xA9".force_encoding('UTF-8') %></li> 
   <li>Rawneed, Inc.</li>
   <li><%= Time.now.year %></li>
   <li><a href="http://rawneed.com/">About</a></li>
   <li><a href="http://twitter.com/rawneed/">Twitter</a></li>
   <li><a href="http://instagram.com/rawneed/">Instagram</a></li>
  </ul>
 </div>
</div>
